body {
  margin: 0;
  padding: 0;
}
.main {
  margin: 5px;
}
.box {
  width: 24%;
  padding: 5px;
  display: inline-block;
}
.navbar {
  background: green;
  padding: 0px;
}
.estilo-imagen {
  width: 100%;
  height: 347px;
}
